.footer {
  font-size: 14px;
  line-height: 22px;
  color: #7b7b7b;

  &__span {
    text-transform: uppercase;
  }

  &__address {
    margin-top: 26px;
    margin-bottom: 15px;
  }

  &__phone {
    display: block;
    color: inherit;
    margin-bottom: 15px;
  }

  &__email {
    display: block;
    color: inherit;

  }
}

.footer-top {
  display: flex;
  padding: 80px 0 60px;
  border-bottom: 1px solid #dae4e9;

  &__contacts {
    width: 219px;
    margin-right: 96px;
  }

  &__services {
    width: 150px;
    margin-right: 150px;
  }

  &__account {
    width: 102px;
    margin-right: 202px;
  }

  &__title {
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin-bottom: 25px;
    margin-top: 18px;
  }

  &__list-item {
    line-height: 32px;
  }

  &__list-link {
    color: inherit;
  }

  &__item-text {
    width: 236px;
    margin-bottom: 36px;
  }

  &__form {
    display: flex;
  }

  &__input {
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    color: #234969;
    @extend %dmsans-400;
    padding: 14px 5px 14px 16px;
    margin-right: 1px;

    &::placeholder {
      color: #234969;
    }
  }

  &__btn {
    @include no-btn;
    background-color: #a3bbc8;
    color: #fff;
    padding: 14px 18px;
  }
}

.footer-bottom {
  padding: 36px 0 40px;
  display: flex;
  justify-content: space-between;

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    position: relative;

    &:not(:first-child) {
      margin-left: 30px;

      &:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 16px;
        top: 2px;
        left: -15px;
        background-color: #7b7b7b;
      }
    }
  }

  &__nav-link {
    color: #7b7b7b;
  }
}