<section class="login">
  <div class="container">
    <form class="login__form">
      <label class="login__label">
        Username or email address *
        <input class="login__input" type="text" required>
      </label>
      <label class="login__label">
        Password *
        <input class="login__input" type="password" required>
      </label>
      <button class="login__submit" type="submit">
        Login
      </button>
      <div class="login__remember-box">
        <label class="login__label login__label--checkbox">
          <input class="login__input-checkbox" type="checkbox">
          <span class="login__checkbox"></span>
          Remember me
        </label>
        <p class="login__remember-text">
          Lost your password?
        </p>
      </div>
    </form>
    <div class="login__register">
      <p class="login__register-text">
        Not registered? No problem
      </p>
      <a class="login__register-link" href="#">
        Create an account
      </a>
    </div>
  </div>
</section>