<section class="top-slider">
  <div class="large-container top-slider__container">
    <div class="top-slider__inner splide">
      <div class="splide__track">
        <div class="splide__list">
          <div class="top-slider__item splide__slide">
            <div class="top-slider__content">
              <h3 class="top-slider__title">
                SMART AND <br> TRENDY
              </h3>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="top-slider__link --svg__arrow-slider-after" href="#">Shop now</a>
            </div>
            <img class="top-slider__img" src="img/slider1.png" alt="Slider image">
          </div>
          <div class="top-slider__item splide__slide">
            <div class="top-slider__content">
              <h3 class="top-slider__title">
                SOFT AND <br> COOL
              </h3>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="top-slider__link --svg__arrow-slider-after" href="#">Shop now</a>
            </div>
            <img class="top-slider__img" src="img/slider1.png" alt="Slider image">
          </div>
          <div class="top-slider__item splide__slide">
            <div class="top-slider__content">
              <h3 class="top-slider__title">
                NICE AND <br> SMOOTH
              </h3>
              <p class="top-slider__text">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
              <a class="top-slider__link --svg__arrow-slider-after" href="#">Shop now</a>
            </div>
            <img class="top-slider__img" src="img/slider1.png" alt="Slider image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>