<section class="mission">
  <div class="container">
    <div class="mission__inner">
      <img class="mission__img" src="img/about-bg.jpg" alt="our mission" width="570px"
        height="676px">
      <div class="mission__content">
        <div class="mission__numbers">
          <span class="mission__numbers-years">12</span>
          <ul class="mission__numbers-list">
            <li class="mission__numbers-item">Years</li>
            <li class="mission__numbers-item">Experience</li>
            <li class="mission__numbers-item">Working</li>
          </ul>
        </div>
        <div class="mission__main">
          <h2 class="mission__main-title">
            Mission of our creative house
          </h2>
          <p class="mission__main-text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
          </p>
        </div>
        <ul class="mission__list">
          <li class="mission__list-item --svg__mission-1-before">
            <span>520+</span>
            <p class="mission__list-text">
              Projects
            </p>
          </li>
          <li class="mission__list-item --svg__mission-2-before">
            <span>$4M</span>
            <p class="mission__list-text">
              Revenue
            </p>
          </li>
          <li class="mission__list-item --svg__mission-3-before">
            <span>250</span>
            <p class="mission__list-text">
              Awards
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>