<section class="new-design">
  <div class="container">
    <div class="new-design__inner tab-container">
      <div class="new-design__top">
        <h2 class="title">
          New Design
        </h2>
        <div class="new-design__tabs">
          <ul class="tabs__list" data-tabs>
            <li class="tabs__item">
              <a class="tabs__btn tabs__btn--active" data-tabby-default href="#1">
                All
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__btn" href="#2">
                Furnitures
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__btn" href="#3">
                Chairs
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__btn" href="#4">
                Lighting
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__btn" href="#5">
                Decor
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="new-design__content" id="1">
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Beat Flat Pendant
                Black
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/1.png" alt="design item img">
        </article>
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Lampe Sur Pieds
                Bamboo
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/2.png" alt="design item img">
        </article>
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Rattan Rocking
                Chair
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/3.png" alt="design item img">
        </article>
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Rattan Rocking
                Chair
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/4.png" alt="design item img">
        </article>
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Rattan Rocking
                Chair
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/5.png" alt="design item img">
        </article>
        <article class="new-design__item">
          <div class="new-design__text">
            <h5 class="new-design__title">
              <a class="new-design__link" href="#">
                Lampe Sur Pieds
                Bamboo
              </a>
            </h5>
            <p class="new-design__subtitle">
              Classic
            </p>
          </div>
          <img class="new-design__img" src="img/design/6.png" alt="design item img">
        </article>
      </div>
    </div>
  </div>
</section>