<section class="new-design">
  <div class="container">
    <div class="new-design__inner">
      <div class="new-design__top">
        <h2 class="title">
          New Design
        </h2>
      </div>
      <div class="tabs" data-tabs="design">
        <ul class="tabs__nav">
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">All</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Furnitures</button>
          </li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Chairs</button>
          </li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Lighting</button>
          </li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Decor</button></li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel">
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Beat Flat Pendant
                    Black
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/1.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/2.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/3.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/4.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/5.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/6.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/4.png" alt="design item img">
            </article>
          </div>
          <div class="tabs__panel">
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Beat Flat Pendant
                    Black
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/1.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/2.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/5.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/6.png" alt="design item img">
            </article>
          </div>
          <div class="tabs__panel">
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Beat Flat Pendant
                    Black
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/1.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/2.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/3.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/6.png" alt="design item img">
            </article>
          </div>
          <div class="tabs__panel">
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/3.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/4.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/5.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/6.png" alt="design item img">
            </article>
          </div>
          <div class="tabs__panel">
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Lampe Sur Pieds
                    Bamboo
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/2.png" alt="design item img">
            </article>
            <article class="new-design__item">
              <div class="new-design__text">
                <h5 class="new-design__title">
                  <a class="new-design__link" href="#">
                    Rattan Rocking
                    Chair
                  </a>
                </h5>
                <p class="new-design__subtitle">
                  Classic
                </p>
              </div>
              <img class="new-design__img" src="img/design/3.png" alt="design item img">
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>