<section class="promo">
  <div class="large-container">
    <div class="promo__inner">
      <div class="promo__item">
        <img class="promo__img" src="img/promo/promo1.png" alt="promo item img">
        <div class="promo__item-box">
          <h4 class="promo__title">
            Mirum Notare Tellus
          </h4>
          <p class="promo__text">
            LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight
          </p>
          <a href="#" class="promo__link --svg__arrow-slider-dark-after">
            View More
          </a>
        </div>
      </div>
      <div class="promo__item">
        <img class="promo__img" src="img/promo/promo2.png" alt="promo item img">
        <div class="promo__item-box">
          <h4 class="promo__title">
            Malesuada Tempor
            Euismod
          </h4>
          <p class="promo__text">
            50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight
          </p>
          <a href="#" class="promo__link --svg__arrow-slider-dark-after">
            View More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>