html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	@extend %rubik-400;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ol[class],
ul[class] {
	list-style: none;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

.container {
	margin: 0 auto;
	max-width: 1180px;
	padding: 0 10px;
}

.large-container {
	max-width: 1780px;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	@extend %dmsans-700;
	font-size: 36px;
	line-height: auto;
	text-align: center;
	margin-bottom: 35px;
	color: #191919;
}

.tabs {
	text-align: center;
	overflow: hidden;

	&__list {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	&__btn {
		@extend %dmsans-700;
		font-size: 16px;
		color: #8b8b8b;
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
		transition: .3s all;

		&:hover {
			opacity: .8;
		}

		&--active {
			color: #191919;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.product {
	text-align: center;
	width: 270px;
	height: 380px;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	border-radius: 10px;
	position: relative;
	overflow: hidden;

	&__inner {
		display: none;
	}

	&:hover {
		.product__nav {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__img-container {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 230px;
		margin-bottom: 60px;
	}

	&__img {
		object-fit: cover;
		display: block;
		margin: 0 auto;
	}

	&__nav {
		position: absolute;
		left: 54px;
		top: 50%;
		transform: translateY(-950%);
		display: flex;
		gap: 16px;
		transition: .5s ease;
	}

	&__link {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		transition: .3s all;

		path {
			transition: .3s all;
		}

		&:hover {
			background-color: #a3bbc8;

			path {
				fill: #fff;
			}
		}

	}

	&__title {
		@extend %dmsans-700;
		color: #243f4d;
	}

	&__price {
		@extend %dmsans-700;
		line-height: 40px;
		color: #a3bbc8;
	}
}

.tabcontent {
	animation: fadeEffect 1.3s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}