.--svg__arrow-right,.--svg__arrow-right-before::before,.--svg__arrow-right-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='6.1' height='10.97'%3E%3Cpath d='M.55 10.97a.53.53 0 01-.41-.19.6.6 0 01-.15-.4.631.631 0 01.17-.43l4.55-4.47L.16 1A.607.607 0 01-.01.58.629.629 0 01.14.17a.559.559 0 01.8-.02l4.98 4.9.01.01a.657.657 0 01.12.17.7.7 0 01.05.25.742.742 0 01-.05.25.61.61 0 01-.12.16c0 .01-.01.01-.01.02l-4.98 4.9a.589.589 0 01-.39.16z' fill='%23262626' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-right-before::before {
    content:'';
}
.--svg__arrow-right-after::after {
    content:'';
}
.--svg__arrow-slider-dark,.--svg__arrow-slider-dark-before::before,.--svg__arrow-slider-dark-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='9'%3E%3Cpath d='M.3 5.472h16.948l-.1 2.857a.292.292 0 000 .41l.172.172a.28.28 0 00.2.086.285.285 0 00.2-.084l4.193-4.211A.292.292 0 0022 4.5a.283.283 0 00-.084-.2L17.723.087a.289.289 0 00-.407 0l-.172.173a.287.287 0 00-.084.2.278.278 0 00.084.2l.113 2.865H.292A.3.3 0 000 3.82v1.37a.292.292 0 00.3.282z' fill='%23436372' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-slider-dark-before::before {
    content:'';
}
.--svg__arrow-slider-dark-after::after {
    content:'';
}
.--svg__arrow-slider,.--svg__arrow-slider-before::before,.--svg__arrow-slider-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='9'%3E%3Cpath d='M.3 5.472h16.948l-.1 2.857a.292.292 0 000 .41l.172.172a.28.28 0 00.2.086.285.285 0 00.2-.084l4.193-4.211A.292.292 0 0022 4.5a.283.283 0 00-.084-.2L17.723.087a.289.289 0 00-.407 0l-.172.173a.287.287 0 00-.084.2.278.278 0 00.084.2l.113 2.865H.292A.3.3 0 000 3.82v1.37a.292.292 0 00.3.282z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-slider-before::before {
    content:'';
}
.--svg__arrow-slider-after::after {
    content:'';
}