.--svg__arrow-right,.--svg__arrow-right-before::before,.--svg__arrow-right-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='6.1' height='10.97'%3E%3Cpath d='M.55 10.97a.53.53 0 01-.41-.19.6.6 0 01-.15-.4.631.631 0 01.17-.43l4.55-4.47L.16 1A.607.607 0 01-.01.58.629.629 0 01.14.17a.559.559 0 01.8-.02l4.98 4.9.01.01a.657.657 0 01.12.17.7.7 0 01.05.25.742.742 0 01-.05.25.61.61 0 01-.12.16c0 .01-.01.01-.01.02l-4.98 4.9a.589.589 0 01-.39.16z' fill='%23262626' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-right-before::before {
    content:'';
}
.--svg__arrow-right-after::after {
    content:'';
}
.--svg__arrow-slider-dark,.--svg__arrow-slider-dark-before::before,.--svg__arrow-slider-dark-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='9'%3E%3Cpath d='M.3 5.472h16.948l-.1 2.857a.292.292 0 000 .41l.172.172a.28.28 0 00.2.086.285.285 0 00.2-.084l4.193-4.211A.292.292 0 0022 4.5a.283.283 0 00-.084-.2L17.723.087a.289.289 0 00-.407 0l-.172.173a.287.287 0 00-.084.2.278.278 0 00.084.2l.113 2.865H.292A.3.3 0 000 3.82v1.37a.292.292 0 00.3.282z' fill='%23436372' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-slider-dark-before::before {
    content:'';
}
.--svg__arrow-slider-dark-after::after {
    content:'';
}
.--svg__arrow-slider,.--svg__arrow-slider-before::before,.--svg__arrow-slider-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='9'%3E%3Cpath d='M.3 5.472h16.948l-.1 2.857a.292.292 0 000 .41l.172.172a.28.28 0 00.2.086.285.285 0 00.2-.084l4.193-4.211A.292.292 0 0022 4.5a.283.283 0 00-.084-.2L17.723.087a.289.289 0 00-.407 0l-.172.173a.287.287 0 00-.084.2.278.278 0 00.084.2l.113 2.865H.292A.3.3 0 000 3.82v1.37a.292.292 0 00.3.282z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__arrow-slider-before::before {
    content:'';
}
.--svg__arrow-slider-after::after {
    content:'';
}
.--svg__mission-1,.--svg__mission-1-before::before,.--svg__mission-1-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='36.41' height='37.719'%3E%3Cpath d='M1.975 37.71A1.984 1.984 0 010 35.719V8.441a.915.915 0 01.264-.643L7.74.256a.9.9 0 01.638-.267h19.09a1.98 1.98 0 011.97 1.991v2.87a.9.9 0 11-1.8 0V1.98a.172.172 0 00-.17-.17H9.278v5.552a1.98 1.98 0 01-1.97 1.99h-5.5v26.367a.17.17 0 00.168.17h25.5a.173.173 0 00.17-.17v-13.9a.9.9 0 111.8 0v13.9a1.98 1.98 0 01-1.97 1.991h-25.5zM3.083 7.532H7.31a.17.17 0 00.168-.17V3.097zM7.059 31.24a.91.91 0 010-1.82H11l1.39-5.066a.9.9 0 01.23-.4l.02-.015H7.059a.91.91 0 010-1.82h7.381l5.43-5.48H7.059a.911.911 0 010-1.821H21.68l8.43-8.5a3.038 3.038 0 014.32 0l1.06 1.071a3.1 3.1 0 010 4.356L18 29.382a.889.889 0 01-.39.234l-5.7 1.6c-.03.007-.23.029-.23.029H7.059zm5.921-2.218l2.65-.744-1.91-1.933zm1.56-4.424l2.83 2.853L31.8 12.889l-2.83-2.852zm16.84-17L30.25 8.75l2.83 2.853 1.13-1.147a1.264 1.264 0 000-1.782l-1.06-1.071a1.225 1.225 0 00-.88-.369 1.265 1.265 0 00-.89.368z' fill='%23a3bbc8' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__mission-1-before::before {
    content:'';
}
.--svg__mission-1-after::after {
    content:'';
}
.--svg__mission-2,.--svg__mission-2-before::before,.--svg__mission-2-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='43.12' height='39.094'%3E%3Cpath d='M37.87 9.304V2.178A2.174 2.174 0 0036.82.291 2.076 2.076 0 0034.69.27a48.669 48.669 0 01-20.7 6.383l-6.68.034a3.286 3.286 0 00-3.23 2.949H2.72A2.749 2.749 0 00.01 12.41v6.1a2.748 2.748 0 002.71 2.774h1.36a3.32 3.32 0 001.91 2.664l4.85 13.723a2.118 2.118 0 001.98 1.428h4.86a2.1 2.1 0 001.73-.925 2.221 2.221 0 00.25-1.986l-4.15-11.785a48.668 48.668 0 0119.18 6.244 2.08 2.08 0 002.13-.021 2.174 2.174 0 001.05-1.887v-7.126a6.228 6.228 0 000-12.309zM4.05 19.14H2.72a.622.622 0 01-.62-.634v-6.1a.623.623 0 01.62-.634h1.33v7.364zm2.78 2.844a1.2 1.2 0 01-.69-1.1V10.03a1.185 1.185 0 011.17-1.2h5.67v13.262H7.23a1.027 1.027 0 01-.4-.108zm10.88 14.93a.037.037 0 01-.01.028c-.01.013-.01.013-.02.013h-4.86a.049.049 0 01-.03-.018L8.31 24.229h4.92zm18.08-8.179a.037.037 0 01-.03.041.04.04 0 01-.05 0 50.66 50.66 0 00-20.65-6.57v-13.5a50.692 50.692 0 0020.65-6.571.04.04 0 01.05 0 .037.037 0 01.03.041v26.557zm2.08-9.292v-7.974a4.089 4.089 0 010 7.974z' fill='%23a3bbc8' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__mission-2-before::before {
    content:'';
}
.--svg__mission-2-after::after {
    content:'';
}
.--svg__mission-3,.--svg__mission-3-before::before,.--svg__mission-3-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='41.78' height='40.406'%3E%3Cpath d='M12.56 31.95a8.516 8.516 0 01.83-3.671L.17 7.833a.919.919 0 01.11-1.139L6.6.276A.9.9 0 017.23.01h27.35a.882.882 0 01.63.266l6.32 6.418a.906.906 0 01.11 1.139L28.42 28.28a8.508 8.508 0 01.83 3.67 8.346 8.346 0 11-16.69 0zm1.79 0a6.556 6.556 0 106.56-6.661 6.617 6.617 0 00-6.56 6.661zm8.55-8.23a8.324 8.324 0 014.47 2.884L39.24 8.242H32.9zm-8.46 2.883a8.354 8.354 0 014.48-2.883L8.91 8.242H2.57zm6.45-3.127h.03l9.85-15.234H11.04zM3.07 6.429h35.67l-4.53-4.606H7.6zm17.25 28.919v-4.9h-.53a.907.907 0 010-1.814h1.42a.9.9 0 01.89.908v5.808a.89.89 0 11-1.78-.007z' fill='%23a3bbc8' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.--svg__mission-3-before::before {
    content:'';
}
.--svg__mission-3-after::after {
    content:'';
}