$orange-deeper: #fcd7b6;
$orange: #feefe2;
$orange-light: #fef7f0;

$blue: #a3bbc8;
$blue-dark: #243f4d;
$blue-deeper: #436372;
$blue-light: #bfcfd8;

$black-title: #191919;
$black: #414141;
$grey-dark: #636362;
$grey: #8b8b8b;


%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}