<section class="insights">
  <div class="container">
    <div class="insights__top">
      <h2 class="insights__title">Our Insights & Articles</h2>
      <a class="insights__link --svg__arrow-right-after" href="#">
        View All
      </a>
    </div>
    <div class="insights__items">
      <div class="insights__card">
        <a href="#" class="insights__card-imglink">
          <img class="insights__card-img" src="img/blog/blog1.png" alt="Blog article">
        </a>
        <span class="insights__card-tag">News</span>
        <div class="insights__card-content">
          <a href="#" class="insights__card-titlelink">
            <h4 class="insights__card-title">Diusmod tempor incididunt ut labore et dolore magna
              aliqua.
              Ut enim ad minim veniam</h4>
          </a>
          <div class="insights__card-meta">
            <p class="insights__card-date">28 JANUARY, 2020</p>
            <a class="insights__card-author" href="#">BY ADMIN</a>
          </div>
        </div>
      </div>
      <div class="insights__card">
        <a href="#" class="insights__card-imglink">
          <img class="insights__card-img" src="img/blog/blog2.png" alt="Blog article">
        </a>
        <span class="insights__card-tag">News</span>
        <div class="insights__card-content">
          <a href="#" class="insights__card-titlelink">
            <h4 class="insights__card-title">Aonsectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore </h4>
          </a>
          <div class="insights__card-meta">
            <p class="insights__card-date">28 JANUARY, 2020</p>
            <a class="insights__card-author" href="#">BY ADMIN</a>
          </div>
        </div>
      </div>
      <div class="insights__card">
        <a href="#" class="insights__card-imglink">
          <img class="insights__card-img" src="img/blog/blog3.png" alt="Blog article">
        </a>
        <span class="insights__card-tag">News</span>
        <div class="insights__card-content">
          <a href="#" class="insights__card-titlelink">
            <h4 class="insights__card-title">Rncididunt ut labore et dolore magna aliqua. Ut enim
            </h4>
          </a>
          <div class="insights__card-meta">
            <p class="insights__card-date">28 JANUARY, 2020</p>
            <a class="insights__card-author" href="#">BY ADMIN</a>
          </div>
        </div>
      </div>
    </div>
</section>